{% load static %}
<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    {% if debug %}
      <link href="http://localhost:5173/src/style.css" rel="stylesheet">
    {% else %}
      <link href="{% static 'styles.css' %}" rel="stylesheet">
    {% endif %}
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>