{% extends "base.html" %}
{% load static %}

{% block title %}
    Once Upon A Time
{% endblock %}

{% block head %}
    {% if debug %}
        <script type="module" src="http://localhost:5173/@vite/client"></script>
        <script type="module" src="http://localhost:5173/src/documentary_list.js"></script>
    {% else %}
        <script type="module" src="{% static 'svelte/svelte/documentary_list.js' %}"></script>
    {% endif %}
{% endblock %}

{% block content %}
<div class="p-4 pb-18">
    {% include 'tabs.html' with documentaries=True %}
    <div id="documentary_list" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 xl:grid-col-6 gap-4">
        {% for documentary in documentary_list %}
            <div data-svelte="documentary-card" data-documentary-id="{{ documentary.id }}" data-documentary-title="{{ documentary.title }}" data-documentary-image="{{ documentary.image.url }}"></div>

            {% if documentary.audio %}
                <audio id="audio_{{ documentary.id }}" src="{{ documentary.audio.url }}" preload="auto"></audio>
            {% endif %}

            <dialog id="modal_{{ documentary.id }}" class="modal">
                <div class="modal-box">
                    <h3 class="text-lg font-bold">{{ documentary.title }}</h3>
                    <img src="{{ documentary.image.url }}" />
                    <p class="py-4">{{ documentary.text }}</p>
                </div>
                <form method="dialog" class="modal-backdrop">
                    <button {% if documentary.audio %}onclick="document.getElementById('audio_{{ documentary.id }}').pause(); document.getElementById('audio_{{ documentary.id }}').currentTime = 0;"{% endif %}>close</button>
                </form>
            </dialog>
        {% endfor %}
    </div>
</div>
{% endblock %}