{% extends "base.html" %}

{% block title %}
    Once Upon A Time
{% endblock %}

{% block content %}
<div class="p-4 pb-18">
    {% include 'tabs.html' with documentaries=True %}
    <div id="documentary_list" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 xl:grid-col-6 gap-4">
        {% for documentary in documentary_list %}
            <div>
                <a class="card bg-base-100 w-full h-full shadow-sm" onclick="modal_{{ documentary.id }}.showModal();{% if documentary.audio %} document.getElementById('audio_{{ documentary.id }}').play();{% endif %}">
                    <figure>
                        <img
                        src="{{ documentary.image.url }}"
                        alt="{{ documentary.title }} cover" />
                    </figure>
                    <div class="card-body">
                        <h2 class="card-title">{{ documentary.title }}</h2>
                    </div>
                </a>
            </div>

            {% if documentary.audio %}
                <audio id="audio_{{ documentary.id }}" src="{{ documentary.audio.url }}" preload="auto"></audio>
            {% endif %}

            <dialog id="modal_{{ documentary.id }}" class="modal">
                <div class="modal-box">
                    <h3 class="text-lg font-bold">{{ documentary.title }}</h3>
                    <img src="{{ documentary.image.url }}" />
                    <p class="py-4">{{ documentary.text }}</p>
                </div>
                <form method="dialog" class="modal-backdrop">
                    <button {% if documentary.audio %}onclick="document.getElementById('adocument.getElementById('audio_{{ documentary.id }}')udio_{{ documentary.id }}').pause(); document.getElementById('audio_{{ documentary.id }}').currentTime = 0;"{% endif %}>close</button>
                </form>
            </dialog>
        {% endfor %}
    </div>
</div>
{% endblock %}