{% for book in book_list %}
    <div>
        <a class="card bg-base-100 w-full h-full shadow-sm" href="{{ book.get_absolute_url }}">
            <figure>
                <img
                src="{{ book.cover.url }}"
                alt="{{ book.title }} cover" />
            </figure>
            <div class="card-body">
                <h2 class="card-title">{{ book.title }}</h2>
                <div class="flex flex-wrap gap-2">
                    {% for tag in book.tags.all %}
                        <div class="badge badge-primary">{{ tag }}</div>
                    {% endfor %}
                </div>
                <p>{{ book.description }}</p>
            </div>
        </a>
    </div>
{% endfor %}

{% if page_obj.has_next %}
    <div id="book_card_indicator" class="card bg-base-100 w-full h-full shadow-sm" hx-get="/?page={{  page_obj.next_page_number  }}" hx-trigger="revealed" hx-swap="outerHTML">
        <div class="skeleton h-48 w-full rounded-b-none"></div>
        <div class="card-body">
            <div class="skeleton h-5 w-48 mt-2"></div>
            <div class="flex">
                <div class="skeleton h-5 w-1/3 mr-2"></div>
                <div class="skeleton h-5 w-1/3"></div>
            </div>
            <div class="skeleton h-4 w-full"></div>
            <div class="skeleton h-4 w-full"></div>
        </div>
    </div>
{% endif %}