{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ book.title }}
{% endblock %}
    
{% block head %}
    {% if debug %}
        <script type="module" src="http://localhost:5173/@vite/client"></script>
        <script type="module" src="http://localhost:5173/src/book_detail.js"></script>
    {% else %}
        <script type="module" src="{% static 'svelte/book_detail.js' %}"></script>
    {% endif %}
    {{ pages|json_script:"pages-data" }}
{% endblock %}

{% block content %}
    <div id="book_detail"></div>
{% endblock %}