{% extends "base.html" %}
{% load static %}

{% block title %}
    Once Upon A Time
{% endblock %}

{% block head %}
    {% if debug %}
        <script type="module" src="http://localhost:5173/@vite/client"></script>
        <script type="module" src="http://localhost:5173/src/book_list.js"></script>
    {% else %}
        <script type="module" src="{% static 'svelte/book_list.js' %}"></script>
    {% endif %}
{% endblock %}

{% block content %}
<div class="p-4">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 xl:grid-col-6 gap-4">
        {% for book in book_list %}
            <div>
                <a class="card bg-base-100 w-full shadow-sm" href="{{ book.get_absolute_url }}">
                    <figure>
                        <img
                        src="{{ book.cover.url }}"
                        alt="{{ book.title }} cover" />
                    </figure>
                    <div class="card-body">
                        <h2 class="card-title">{{ book.title }}</h2>
                        <div class="flex gap-2">
                            {% for tag in book.tags.all %}
                                <div class="badge badge-primary">{{ tag }}</div>
                            {% endfor %}
                        </div>
                        <p>{{ book.description }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}